@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
  box-sizing: border-box;
}
html, body {
  min-height: 100%;
}
body {
  background: radial-gradient(at top left, rgb(42, 49, 87) 0%, rgb(16, 4, 70) 100%);
  background-repeat: no-repeat;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 800px;
  margin: 0 auto;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a{
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}

nav a:hover{
  border-color: rgb(224, 7, 188);
}
nav .mobile-links{
  display: none;
  position: fixed;
  bottom: 0;
  background-color: rgb(14, 3, 44);
  width: 100%;
  height: 62px;
}
nav .mobile-links a{
  margin: 8px 0 0 0;
  width: 33%;
  font-size: 15px;
}
nav .mobile-links box-icon{
  display: block;
  margin-right: auto;
  margin-left: auto;
}
nav .mobile-links p{
  margin-top: 5px;
}
nav .mobile-links a:hover{
  border-bottom: none;
}
nav .mobile-links .active{
  border-top: 3px solid rgb(21, 221, 54);
  margin: 0;
  padding-top: 5px;
}
.content{
  min-height: 82vh;
}
.btn {
  display: inline-block;
  color: whitesmoke;
  background-color: rgb(21, 221, 54);
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 500;
}

.btn:hover{
  color: rgb(21, 221, 54);
  background-color: rgb(224, 7, 188);
}

footer{
  position: relative;
  bottom: 0px;
}
footer p{
  text-align: center;
  color: whitesmoke;
  margin: 40px auto;
}
footer p a{
  color: rgb(21, 221, 54);
  font-weight: 500;
}
footer p a:hover{
  color: rgb(224, 7, 188);
}
.bot{
  height: 100px;
  display: none;
}
@media screen and (max-width:950px){
  nav h1{
    left: 4%;
  }
  nav .links{
    right: 4%;
  }
}
@media screen and (max-width:790px){
  nav h1{
    display: none;
  }
  nav .links{
    display: none;
  }
  nav .mobile-links{
    display: flex;
    text-align: center;
    z-index: 1;
  }
  footer{
    display: none;
  }
  .bot{
    display: block;
  }
}