.project {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  min-height: 480px;
  justify-content: center;
  grid-gap: 10px;
  border-bottom: 1px solid;
}
.web{
font-weight: 400;
margin-bottom: 30px;
margin-top: 5%;
text-align: center;
}
.project h1 {
font-weight: 400;
margin-bottom: 20px;
}
.project .item1{
height: 260px;
text-align: center;
display: grid;
align-content: center;
}
.project .item2{
grid-column: 1/-1;
min-height: 10px;
width: 100%;  
}
.project .itemtech{
grid-column: 1/-1;
min-height:50px;
width: 100%; 
}
.project .item2 p{
font-weight: 400;
margin-left: 20px;
}
.project .itemtech .tech{
position: relative;
top: 10px;
border: none;
background-color: rgb(224, 7, 188);
outline: none;
display: inline;
margin: 0 0 0 20px;
margin-top: 10px;
border-radius: 10px;
padding: 4px 10px 4px 10px;
font-size: 13px;
}
.project .img{
border-radius: 1%;
border: 2px solid rgb(224, 7, 188);
width: 100%;
object-fit: contain;
}
.project .gitlink{
display:none ;
}
box-icon{
fill :rgb(224, 7, 188);
grid-column-start: 1;
grid-column-end: 2;
margin-left: 0;
margin-right: 10px;
}
box-icon:hover{
fill: rgb(21, 221, 54);
}
@media screen and (max-width:1100px) {
.project{
  max-width: 69%;
  height: 400px;
}
.project .item1,.project .item3{
  height: 220px;
}
}
@media screen and (max-width:1000px) {
.project{
  grid-template-columns: 1fr;
  height: 600px;
  max-width: 69%;
  min-width: 360px;
} 
.project .item1{
  height: 40px;
  margin-bottom: 0;
}
.project .item3{
  min-height: 320px;
}
.project .gitshow{
  display:none ;
}
.project .gitlink{
  display:block ;
}
.project .gitlink box-icon{
  float: right;
}
.project .item2 p{
  margin: 0;
}
.project .itemtech .tech{
  margin: 0 0 0 5px;
}
}
@media screen and (max-width:750px){
.project{
  max-width: 90%;
}
}